@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

dialog.show-backdrop::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

dialog .dialog-content {
  background-color: #212122;
  border-radius: 8px;
  border: 1px solid #3c3d40;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}